<div class="dashboard-container">
      <h1>Bienvenue sur le Dashboard</h1>
      <div class="sections">
        <div class="section">
          <h2>Projets</h2>
          <a routerLink="/userdash/projects-managment">Gérer les Projets</a>
        </div>
        <div class="section">
          <h2>Rapports</h2>
          <a routerLink="/userdash/reports">Voir les Rapports</a>
        </div>
        <div class="section">
          <h2>Entrée des Feuilles de Temps</h2>
          <a routerLink="/userdash/timesheet-entry">Ajouter des Heures</a>
        </div>
      </div>
    </div>
    