<div class="card-container cards-wrapper d-flex gx-5">
    <div class="card">
        <div class="card-content">
            <span class="card-title">Nombre Projets</span>
            <p>2255</p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <span class="card-title">Nombre Employers</span>
            <p>2255</p>
        </div>
    </div>
        <div class="card">
        <div class="card-content">
            <span class="card-title">Nombre Clients</span>
            <p>2255</p>
        </div>
    </div>
</div>







